<div class="container">

    <h1>Edit Category</h1>

    <form class="example-form" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput required placeholder="Name" formControlName="name">
            </mat-form-field>
        </p>
        <p>
            <button class="btn" mat-raised-button color="primary" type="submit">Submit</button>
        </p>
    </form>

</div>